<div (click)="backPage()"
  class="fixed z-50 border-[1px] rounded-xl p-3 -mt-7 -left-2 shadow-lg
    hover:shadow-inner hover:shadow-rose-500/40 overflow-hidden cursor-pointer
    backdrop-blur-sm bg-white/30"
  >
  <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true"
       xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
          stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
  </svg>
</div>
