<div class="w-full shadow-md sm:rounded-lg">
  <div [id]="'accordion'" #accordion data-accordion="collapse">
    <ng-container *ngFor="let association of associations">
      <h2 [id]="'accordion-heading-' + association.id" #accordionHeads>
        <button type="button"
                class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
                [attr.data-accordion-target]="'#accordion-collapse-body-' + association.id" aria-expanded="false">
                <span>
                  <span class="font-semibold">{{ association.name | titlecase }}</span>
                  ({{ getRoleInAssociation(association.id) }})
                </span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div [id]="'accordion-body-' + association.id" class="hidden" #accordionBodies>
        <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
          <button (click)="navigateToAssociation(association.id)"
                  type="button"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Consulter
          </button>
          <p *ngIf="getMinutesVotedInAssociation(association.id).length === 0"
             class="p-2">
            N'a voté aucune minute pour le moment.
          </p>
          <p *ngFor="let minute of getMinutesVotedInAssociation(association.id)"
             class="p-2">
            A voté la minute du {{ minute.date }}.
          </p>
        </div>
      </div>
    </ng-container>
  </div>


</div>
